
@model SearchModel

<form method="get" enctype="multipart/form-data" asp-controller="Book" asp-action="Search">
    <div class="row d-flex align-items-center">
        <div class="col-md-2">
@*    <label class="col-sm-3 col-form-label">Book Name</label>
*@    <input asp-for="Name" type="text" class="form-control" placeholder="Book Name"/>
        </div>
        <div class="col-md-2">
@*    <label class="col-sm-3 col-form-label">Price</label>
*@            <input asp-for="Price" type="number" class="form-control" placeholder="Price" />
        </div>
        <div class="col-md-2">
@*    <label class="col-sm-3 col-form-label">Rating</label>
*@            <input asp-for="Rating" type="number" class="form-control" placeholder="Rating" />
        </div>
        <div class="col-md-2">
            <select asp-for="Author_Id" class="form-control select" >
                <option>Select Author</option>
                @foreach (var auth in ViewBag.Authors)
                {
                    <option value="@auth.Id">@auth.Name</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <select asp-for="Cat_Id" class="form-control select" >
                <option>Select Category</option>
                @foreach (var cat in ViewBag.Categories)
                {
                    <option value="@cat.CategoryID">@cat.CategoryName</option>
                }
            </select>
            
        </div>
        <div class="col-md-2">
     <input type="submit" value="Search" />
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                   Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    price
                </th>
                <th>
                    Category
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Author
                </th>
            </tr>
        </thead>
        <tbody>
            @if(ViewBag.Books==null)
            {
                <tr>
                    <td colspan="6" style="text-align:center"> No Record Found</td>
                </tr>
            }
            else
            {
            @foreach (var book in ViewBag.Books)
            {
                <tr>
                    <td>@book.Name</td>
                    <td>@book.Description</td>
                    <td>@book.Price</td>
                    <td>@book.Categories.CategoryName</td>
                    <td>@book.Rating</td>
                    <td>
                        @if (book.AuthorsBooks != null)
                        {
                            @foreach (var item in book.AuthorsBooks)
                            {
                                    <a class="badge bg-success d-block mb-2  text-capitalize fs-5 text-decoration-none" asp-controller="Book" asp-action="AuthorDetails" asp-route-id="@item.Author.Id">@item.Author.Name</a>
                            }
                        }

                    </td>

                </tr>

            }

            }
        </tbody>
    </table>
</div>
	<a class="btn btn-primary" asp-controller="Book" asp-action="Add"> Add New Book</a>
